@import "/css/fly.css";

body {
  margin: 0;
}

#btn {
  padding: 20px;
  border: .2px solid rgba(75, 75, 75, 0.152);
  border-radius: 5px;
  cursor: default ;
}

#btn:focus {
  outline: none;
}

#btn:hover, #btn:focus {
  background-color: rgb(219, 224, 230);
}