@import "/src/css/fly.css";
@import "/src/css/grab.css";
@import "/src/css/btn.css";

body {
  margin: 0;
}

p {
  z-index: -9999;
}

.box p, .box ul {
  margin: 0;
  font-size: 12px;
  color: rgb(83, 83, 83);
}

