





#context-menu {
  top: 100px;
  left: 100px;
  padding: 8px 0 8px 0;
  position: fixed;
  display: none;
  z-index: 999;
  /* width: 200px; */
  /* height: 300px; */
  border-radius: 3px;
  /* background-color: cadetblue; */
  background-color: rgb(246, 248, 250);
  box-shadow: 0 4px 10px 0 rgba(94, 118, 145, 0.342);
  /* border: 1px solid black; */
  border: .5px solid rgb(221, 220, 220);

  overflow: hidden;
}

.menu {
  /* margin-left: 8px; */
  font-size: 12px;
  color: rgb(104, 104, 104);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999;
  padding: 4px 4px 4px 8px;
  cursor: pointer;
  width: 170px;
  height: auto;
  background-color: inherit;
  /* border: 1px solid black; */
}

/* .menu:first-child {
  padding-top: 8px;
}

.menu:last-child {
  margin-bottom: 8px;
} */

.menu:hover {
  background-color: #4e6d89;
  color: aliceblue;
}

.menu:hover span {
  background-color: transparent;
}

.menu span {
  /* color: rgb(40, 42, 43); */
  font-size: 10px;
  margin-right: 5px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(224, 229, 233);
  float: right;
}



.selected {

  outline: 2px solid #4e6d89;
  /* outline-offset: -2px; */
}











/*  bambang */

#document-context-menu {
  top: 100px;
  left: 100px;
  padding: 8px 0 8px 0;
  position: fixed;
  display: none;
  z-index: 9999;
  border: .5px solid rgb(230, 230, 230);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19);

  border-radius: 4px;
  background-color: rgb(246, 248, 250);
}

/* .document-menu:first-child {
  padding-top: 8px;
}

.document-menu:last-child {
  padding-bottom: 8px;
} */

/* overflow: hidden; */
.document-menu {
  /* margin-left: 8px; */
  font-size: 12px;
  color: rgb(104, 104, 104);
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 4px 4px 8px;
  cursor: pointer;
  width: 170px;
  height: auto;
  background-color: inherit;
  /* border: 1px solid black; */
}

.document-menu:hover {
  background-color: #4e6d89;
  color: aliceblue;
}

.document-menu:hover span {
  background-color: transparent;
}

.document-menu span {
  /* color: rgb(40, 42, 43); */
  font-size: 10px;
  margin-right: 5px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(206, 212, 218);
  float: right;
}


/* #d-lock {
  padding-top: 10px;
} */

