
.grab-container {
  opacity: 0;
  transform: translate(20px, 0);
  position: absolute;
  left: 90px;
  top: 167px;
  z-index: 99;
  transition: .1s ease-out .1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-left {
  transform: translate(0, 0);
  opacity: 1;
}

.grab-me {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  color: var(--back-color);
  display: inline-block;
  background-color: var(--dark-text);
}

.triangle {
  margin: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
	border-right: 7px solid var(--dark-text);
	border-bottom: 5px solid transparent;
}